
.probe
logs
PCL
.vscode
Xaero*
saves
screenshots
shaderpacks
resourcepacks
local
CustomSkinLoader
downloads
dynamic-resource-pack-cache
command_history.txt
\[UWE]Uncompleted Way A New Expedition.jar
\[UWE]Uncompleted Way A New Expedition.json
patchouli_data.json
usercache.json
usernamecache.json
\[UWE]Uncompleted Way A New Expedition-natives
fancymenu_data
options.txt
config/iris.properties
mods
